[credential]
	helper = /home/user/.bas-git/bas-git-helper-init.sh
[user]
	email = lfengel@sinosbyte.com.br
	name = lfengel
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = store
	helper = /home/user/.bas-git/bas-git-helper.sh
